
<div class="p-datatable-sm">
    <p-table #dt [value]="shifts" [tableStyle]="{ 'min-width': '5rem' }" class="p-datatable-sm"
    [lazy]="true" [paginator]="true"[rows]="rows" [showCurrentPageReport]="false" [totalRecords]="totalRecords"
    [loading]="loading" (onLazyLoad)="getShiftsList($event)" responsiveLayout="scroll">
        <ng-template pTemplate="caption">
            <div class="flex justify-content-between flex-column sm:flex-row gap-2">
                <div class="flex gap-1">
                    <div>
                        <p-button label="Clear" icon="pi pi-filter-slash" size="small" (click)="clear(dt)" [outlined]="true" severity="info"></p-button>
                    </div>
                    <div>
                        <p-button label="Add" icon="fa-solid fa-plus" size="small" (click)="addClick()"></p-button>
                    </div>
                </div>
                <span class="p-input-icon-left mb-2">
                    <i class="pi pi-search"></i>
                    <!-- <input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)" placeholder="Search Keyword" class="w-full p-inputtext-sm"/> -->
                    <input pInputText type="text" #searchInput (input)="onSearchChange(searchInput.value)" placeholder="Search" class="w-full p-inputtext-sm"/>
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="code">Name <p-sortIcon [field]="'code'"></p-sortIcon></th>
                <th pSortableColumn="name">Start Time <p-sortIcon [field]="'name'"></p-sortIcon></th>
                <th pSortableColumn="name">End Time <p-sortIcon [field]="'name'"></p-sortIcon></th>
                <th>Edit</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.start_time }}</td>
                <td>{{ item.end_time }}</td>
                <td>
                    <div class="flex">
                        <p-button icon="pi pi-pencil" [rounded]="true" [text]="true" size="small" (click)="editClick(item)"></p-button>
                        <p-button icon="pi pi-trash" [rounded]="true" [text]="true" size="small" (click)="deleteClick(item)" severity="danger"></p-button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>













<!-- Modal Snippet -->
<!-- <div class="modal fade" id="staticBackdrop" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"><div class="modal-dialog modal-xl modal-dialog-centered" ><div class="modal-content"><div class="modal-header" ><h5 class="modal-title" id="exampleModalLabel">{{ModalTitle}}</h5><button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeClick()"><span aria-hidden="true">&times;</span></button></div><div class="modal-body" style="width:100%; background-color: aliceblue;"><app-add-edit-prod-plan [prodplan]="prodplan" *ngIf="ActivateAddEditProdPlanComp" (prodPlanAdded)="onprodPlanAdded()"></app-add-edit-prod-plan></div></div></div></div> -->
<p-toast></p-toast>
<p-dialog header="{{ ModalTitle }}" [(visible)]="display" [modal]="true" showEffect="fade" [style]="{width: '50vw'}" [breakpoints]="{'960px': '75vw'}">
  <ng-template pTemplate="content">
    <!-- <app-add-edit-company [company]="company" *ngIf="ActivateAddEditCompanyComp" (companyAdded)="onCompanyAdded()"></app-add-edit-company> -->
    <div class="grid p-fluid mt-1">

        <div class="col-12 lg:col-6 xl:col-6">
            <span class="p-float-label">
                <input type="text" id="name" pInputText [(ngModel)]="name" class="p-inputtext-sm"/>
                <label for="name" class="block font-bold">Shift Name</label>
            </span>
        </div>

        <div class="col-12 lg:col-6 xl:col-6">
            <span class="p-float-label">
                <input type="text" id="name" pInputText [(ngModel)]="shift_id" class="p-inputtext-sm"/>
                <label for="shift_id" class="block font-bold">Shift ID</label>
            </span>
        </div>

        <div class="col-12 lg:col-6 xl:col-6">
            <p-floatLabel>
                <p-calendar
                    inputId="start_time"
                    [(ngModel)]="start_time"
                    [iconDisplay]="'input'"
                    [showIcon]="true"
                    [hourFormat]="24"
                    [timeOnly]="true"
                    class="p-inputtext-sm"
                    inputId="templatedisplay">
                        <ng-template pTemplate="inputicon" let-clickCallBack="clickCallBack">
                            <i class="pi pi-clock pointer-events-none" (click)="clickCallBack($event)"></i>
                        </ng-template>
                </p-calendar>
                <label for="start_time" class="block font-bold">Shift Start</label>
            </p-floatLabel>
            <!-- <span class="p-float-label">
                <input type="time" id="start_time" [hourFormat]="24" pInputText [(ngModel)]="start_time" class="p-inputtext-sm"/>
                <label for="start_time">Start time</label>
            </span> -->
        </div>

        <div class="col-12 lg:col-6 xl:col-6">
            <p-floatLabel>
                <p-calendar
                    inputId="end_time"
                    [(ngModel)]="end_time"
                    [iconDisplay]="'input'"
                    [showIcon]="true"
                    [timeOnly]="true"
                    class="p-inputtext-sm"
                    inputId="templatedisplay">
                        <ng-template pTemplate="inputicon" let-clickCallBack="clickCallBack">
                            <i class="pi pi-clock pointer-events-none" (click)="clickCallBack($event)"></i>
                        </ng-template>
                </p-calendar>
                <label for="end_time" class="block font-bold">Shift End</label>
            </p-floatLabel>
        </div>

        <div class="col-12 lg:col-6 xl:col-6">
            <p-floatLabel>
                <p-inputNumber
                    [(ngModel)]="grace_start_time"
                    [showButtons]="true"
                    inputId="grace_start_time"
                    spinnerMode="horizontal"
                    [step]="1"
                    [iconDisplay]="'input'"
                    class="p-inputtext-sm"
                    [min]="0"
                    [max]="1440"
                    mode="decimal" />
                <label for="grace_start_time" class="block font-bold">Grace Period at Shift Start (in Min)</label>
            </p-floatLabel>
        </div>

        <div class="col-12 lg:col-6 xl:col-6">
            <p-floatLabel>
                <p-inputNumber
                    [(ngModel)]="grace_end_time"
                    [showButtons]="true"
                    inputId="grace_end_time"
                    spinnerMode="horizontal"
                    [step]="1"
                    [iconDisplay]="'input'"
                    class="p-inputtext-sm"
                    [min]="0"
                    [max]="1440"
                    mode="decimal" />
                <label for="grace_end_time" class="block font-bold">Grace Period at Shift End (in Min)</label>
            </p-floatLabel>
        </div>

        <div class="col-12 lg:col-6 xl:col-6">
            <p-floatLabel>
                <p-inputNumber
                    [(ngModel)]="overtime_threshold_before_start"
                    [showButtons]="true"
                    inputId="overtime_threshold_before_start"
                    spinnerMode="horizontal"
                    [step]="1"
                    [iconDisplay]="'input'"
                    class="p-inputtext-sm"
                    [min]="0"
                    [max]="1440"
                    mode="decimal" />
                <label for="overtime_threshold_before_start" class="block font-bold">Overtime Threshold Before Shift Start (in Min)</label>
            </p-floatLabel>
        </div>

        <div class="col-12 lg:col-6 xl:col-6">
            <p-floatLabel>
                <p-inputNumber
                    [(ngModel)]="overtime_threshold_after_end"
                    [showButtons]="true"
                    inputId="overtime_threshold_after_end"
                    spinnerMode="horizontal"
                    [step]="1"
                    [iconDisplay]="'input'"
                    class="p-inputtext-sm"
                    [min]="0"
                    [max]="1440"
                    mode="decimal" />
                <label for="overtime_threshold_after_end" class="block font-bold">Overtime Threshold After Shift End (in Min)</label>
            </p-floatLabel>
        </div>

        <div class="col-12 lg:col-6 xl:col-6">
            <p-floatLabel>
                <p-calendar
                    inputId="lunch_in_time"
                    [(ngModel)]="lunch_in_time"
                    [iconDisplay]="'input'"
                    [showIcon]="true"
                    [timeOnly]="true"
                    class="p-inputtext-sm"
                    inputId="templatedisplay">
                        <ng-template pTemplate="inputicon" let-clickCallBack="clickCallBack">
                            <i class="pi pi-clock pointer-events-none" (click)="clickCallBack($event)"></i>
                        </ng-template>
                </p-calendar>
                <label for="lunch_in_time" class="block font-bold">Lunch Start</label>
            </p-floatLabel>
        </div>

        <div class="col-12 lg:col-6 xl:col-6">
            <p-floatLabel>
                <p-calendar
                    inputId="lunch_out_time"
                    [(ngModel)]="lunch_out_time"
                    [iconDisplay]="'input'"
                    [showIcon]="true"
                    [timeOnly]="true"
                    class="p-inputtext-sm"
                    inputId="templatedisplay">
                        <ng-template pTemplate="inputicon" let-clickCallBack="clickCallBack">
                            <i class="pi pi-clock pointer-events-none" (click)="clickCallBack($event)"></i>
                        </ng-template>
                </p-calendar>
                <label for="lunch_out_time" class="block font-bold">Lunch End</label>
            </p-floatLabel>
        </div>

        <div class="col-12 lg:col-4 xl:col-4">
            <p-floatLabel>
                <p-inputNumber
                    [(ngModel)]="absent_threshold"
                    [showButtons]="true"
                    inputId="absent_threshold"
                    spinnerMode="horizontal"
                    [step]="1"
                    [iconDisplay]="'input'"
                    class="p-inputtext-sm"
                    [min]="0"
                    [max]="1440"
                    mode="decimal" />
                <label for="absent_threshold" class="block font-bold">Absent Threshold (in Min)</label>
            </p-floatLabel>
        </div>

        <div class="col-12 lg:col-4 xl:col-4">
            <p-floatLabel>
                <p-inputNumber
                    [(ngModel)]="half_day_threshold"
                    [showButtons]="true"
                    inputId="half_day_threshold"
                    spinnerMode="horizontal"
                    [step]="1"
                    [iconDisplay]="'input'"
                    class="p-inputtext-sm"
                    [min]="0"
                    [max]="1440"
                    mode="decimal" />
                <label for="half_day_threshold" class="block font-bold">Half Day Threshold (in Min)</label>
            </p-floatLabel>
        </div>

        <div class="col-12 lg:col-4 xl:col-4">
            <p-floatLabel>
                <p-inputNumber
                    [(ngModel)]="full_day_threshold"
                    [showButtons]="true"
                    inputId="full_day_threshold"
                    spinnerMode="horizontal"
                    [step]="1"
                    [iconDisplay]="'input'"
                    class="p-inputtext-sm"
                    [min]="0"
                    [max]="1440"
                    mode="decimal" />
                <label for="full_day_threshold" class="block font-bold">Full Day Threshold (in Min)</label>
            </p-floatLabel>
        </div>

        <div class="col-12 lg:col-12 xl:col-12">
            <div class="flex align-items-center gap-2">
                <p-inputSwitch [(ngModel)]="is_night_shift" class="p-inputswitch-sm"></p-inputSwitch>
                <span class="block font-bold">Is this a night shift? (Turn on only if the shift spans across two dates)</span>
            </div>
        </div>

        <div class="col-12 lg:col-6 xl:col-6">
            <div class="flex align-items-center gap-2">
                <p-inputSwitch [(ngModel)]="consider_lunch_half_day" class="p-inputswitch-sm"></p-inputSwitch>
                <span class="block font-bold">Consider Lunch for Half Day</span>
            </div>
        </div>

        <div class="col-12 lg:col-6 xl:col-6">
            <div class="flex align-items-center gap-2">
                <p-inputSwitch [(ngModel)]="consider_lunch_full_day" class="p-inputswitch-sm"></p-inputSwitch>
                <span class="block font-bold">Consider Lunch for Full Day</span>
            </div>
        </div>


    </div>
  </ng-template>
  <ng-template pTemplate="footer">
      <div class="mt-2">
          <button pButton icon="fa-solid fa-x" (click)="display=false" label="Close" class="p-button-outlined"></button>
          <button pButton icon="fa-solid fa-floppy-disk" *ngIf="id == null" (click)="addShift()" label="Save" class="p-button-success"></button>
          <button pButton icon="fa-solid fa-pencil" *ngIf="id !== null" (click)="updateShift()" label="Update" class="p-button-info"></button>
      </div>
  </ng-template>
</p-dialog>
