<div class="card">
    <div class="header-box">
        <p class="page-header">Operator Work Alocation</p>
        <div class="clock-container">
          <span>{{ currentDate }}</span> => <span>{{ currentTime }}</span>
        </div>
    </div>

    <div class="main-container">

        <div class="dashboard" #carouselContainer>
          <p-carousel 
            [value]="paginatedSections" 
            [numVisible]="1" 
            [numScroll]="1" 
            [responsiveOptions]="responsiveOptions"
            [circular]="true" 
            [autoplayInterval]="20000">
        
            <ng-template let-sectionGroup pTemplate="item" > 
              <div class="dashboard-slide ">
                  <div *ngFor="let section of sectionGroup.sections" class="dashboard-card">
                    <h3 class="dashboard-title">{{ section.name }}</h3>
                
                    <div class="charts-wrapper">
                      <div class="pie-chart-box">
                        <p-chart 
                          class="pie" 
                          type="pie" 
                          [data]="getPieChartData(section.pieData)" 
                          [options]="pieChartOptions" 
                          [plugins]="plugins">
                        </p-chart>
                      </div>
                
                      <div class="chart-box">
                        <p-chart 
                          class="chart" 
                          type="bar" 
                          [data]="getBarChartData(section.barDataIn, section.barDataOut)" 
                          [options]="chartOptions"
                          [plugins]="plugins">
                        </p-chart>
                      </div>
                    </div>
                  </div>
              </div>
            </ng-template>
          </p-carousel>
        </div>

        
        <div class="dashboard"> 
            <div class="container">
                <!-- Left Side - Digital Coupon -->
                <div class="coupon">
                  <h3 class="coupon-title">Digital Coupon</h3>
                  <p class="profile-name">Ajay, 5022345677</p>
                  <div class="profile">
                    <img src="download.jpeg" alt="Employee Image" class="profile-img" />
                  </div>
                </div>
              
                <!-- Right Side - Employee Table -->
                <div class="employee-list">
                  <p-table [value]="employees" class="custom-table">
                    <ng-template pTemplate="header">
                      <tr>
                        <th>Name / ID</th>
                        <th>Shopfloor</th>
                        <th>Assigned Machine</th>
                        <th>Operation/Skill Matrix</th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-employee>
                      <tr>
                        <!-- Employee Name & ID -->
                        <td>
                          <div class="employee-info">
                            <img [src]="employee.profileImage" alt="Profile" class="emp-img" />
                            <div>
                              <strong>{{ employee.name }}</strong><br />
                              <small>Emp. Id: {{ employee.empId }}</small>
                            </div>
                          </div>
                        </td>
                        <!-- Shopfloor -->
                        <td>{{ employee.shopfloor }}</td>
                        <!-- Assigned Machine -->
                        <td>{{ employee.assignedMachine }}</td>
                        <!-- Skill Matrix -->
                        <td>{{ employee.skillMatrix }}</td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>
              </div>
              
        </div>
    </div>
</div>
  
  