<div class="grid justify-content-center">

    <div class="col-12 lg:col-6 xl:col-4">
        <div class="card mb-0">
            <div class="flex justify-content-center">
                <div>
                    <span class="block text-purple-500 font-medium mb-3">INDUCTION</span>
                </div>
            </div>
            <div class="grid justify-content-center">
                <div class="col text-center">
                    <div class="text-800 text-center font-bold font-medium mb-3">0</div>
                        <span class="block text-cyan-500 font-medium">Planned</span>
                    </div>
                <div class="col text-center">
                    <div class="text-800 text-center font-bold font-medium mb-3">0</div>
                    <span class="block text-cyan-500 font-medium">Check In</span>
                </div>
                <div class="col text-center">
                    <div class="text-800 text-center font-bold font-medium red-dot mb-3"></div>
                    <span class="block text-cyan-500 font-medium">Status</span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 lg:col-6 xl:col-4">
        <div class="card mb-0">
            <div class="flex justify-content-center">
                <div>
                    <span class="block text-indigo-500 font-medium mb-3">BOTTLE</span>
                </div>
            </div>
            <div class="grid justify-content-center">
                <div class="col text-center">
                    <div class="text-800 text-center font-bold font-large mb-3">0</div>
                        <span class="block text-cyan-500 font-medium">Planned</span>
                    </div>
                <div class="col text-center">
                    <div class="text-800 text-center font-bold font-large mb-3">0</div>
                    <span class="block text-cyan-500 font-medium">Check In</span>
                </div>
                <div class="col text-center">
                    <div class="text-800 text-center font-bold font-large yellow-dot mb-3"></div>
                    <span class="block text-cyan-500 font-medium">Status</span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 lg:col-6 xl:col-4">
        <div class="card mb-0">
            <div class="flex justify-content-center">
                <div>
                    <span class="block text-blue-500 font-medium mb-3">COOKER</span>
                </div>
            </div>
            <div class="grid justify-content-center">
                <div class="col text-center">
                    <div class="text-800 text-center font-bold font-large mb-3">0</div>
                        <span class="block text-cyan-500 font-medium">Planned</span>
                    </div>
                <div class="col text-center">
                    <div class="text-800 text-center font-bold font-large mb-3">0</div>
                    <span class="block text-cyan-500 font-medium">Check In</span>
                </div>
                <div class="col text-center">
                    <div class="text-800 text-center font-bold font-large green-dot mb-3"></div>
                    <span class="block text-cyan-500 font-medium">Status</span>
                </div>
            </div>
        </div>
    </div>

</div>
