<div class="card">

    <div class="header-box">
        <p class="page-header">Department Strength</p>
        <div class="clock-container">
          <span>{{ currentDate }}</span> => <span>{{ currentTime }}</span>
        </div>
      <div class="label-box">
        <p class="p-tag g-bg">Active</p>
        <p class="p-tag b-bg">Present</p>
        <p class="p-tag r-bg">Absent</p>
        <p class="p-tag y-bg">planed</p>
        <p class="p-tag sg-bg">CheckIn</p>
      </div>
    </div>
    <div class="dashboard" #carouselContainer>
      <p-carousel 
        [value]="paginatedSections" 
        [numVisible]="1" 
        [numScroll]="1" 
        [responsiveOptions]="responsiveOptions"
        [circular]="true" 
        [autoplayInterval]="20000">
    
        <ng-template let-sectionGroup pTemplate="item" > 
          <div class="dashboard-slide ">
              <div *ngFor="let section of sectionGroup.sections" class="dashboard-card">
                <h3 class="dashboard-title">{{ section.name }}</h3>
            
                <div class="charts-wrapper">
                  <div class="pie-chart-box">
                    <p-chart 
                      class="pie" 
                      type="pie" 
                      [data]="getPieChartData(section.pieData)" 
                      [options]="pieChartOptions" 
                      [plugins]="plugins">
                    </p-chart>
                  </div>
            
                  <div class="chart-box">
                    <p-chart 
                      class="chart" 
                      type="bar" 
                      [data]="getBarChartData(section.barDataIn, section.barDataOut)" 
                      [options]="chartOptions"
                      [plugins]="plugins">
                    </p-chart>
                  </div>
                </div>
              </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
    

</div>    
