
.clock-container {
    font-family: 'Digital-7', monospace;
    font-size: 24px;
    color: rgb(85, 82, 82); /* Green color */
    text-shadow: 0 0 5px rgb(156, 215, 238);
    background-color: rgba(0, 0, 0,0.9);
    // padding: 5px 10px;
    border-radius: 5px;
    background-color: transparent;
    margin: 0 auto;
  }
  .p-tag {
    width: 3.5rem;
    max-height: 1rem;
    font-size: 9px;
    padding: 2px;
    background-color: rgb(77, 77, 235);
    border: none;
    border-radius: 0.2rem;
    color: #ffffff;
    text-align: center;
  }
  .header-box{
    display: flex;
    margin-top: -1.8rem;
    justify-content: space-between;
    max-width: 94vw;
  }
  .label-box{
    display: flex;
    gap: 1px;
  }
  .sg-bg{
    background-color: #A8E6CF;
  }
  .b-bg{
    background-color: #007bff;
  }
  .y-bg{
    background-color: #FFD700;
  }
  .g-bg{
    background-color: #28a745;
  }
  .r-bg{
    background-color: #dc3545;
  }
  .page-header{
    color: rgb(85, 82, 82); /* Green color */
    text-shadow: 0 0 5px rgb(156, 215, 238);
    background-color: rgba(0, 0, 0,0.9);
    border-radius: 5px;
    font-weight: 800;
    background-color: transparent;
    margin-left: 1rem;
    margin-bottom: 0;
  }
  
  .p-carousel .p-carousel-content {
    margin-left: 0 !important; /* Ensure it starts from the correct position */
    padding-left: 0 !important; /* Remove extra padding */
  }
  
  .p-carousel .p-carousel-container {
    justify-content: flex-start !important; /* Align carousel items to the left */
  }
  
  .dashboard-slide {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(246, 249, 250);
    justify-content: center;    
}
  ng-template{
    // width: 90%;
    height: 3rem;
}

.p-carousel .p-carousel-item:first-child {
    margin-left: 1rem !important;
    // max-height: 20%;
  }
  
  .dashboard {
    background: white;
    border-radius: 10px;
    padding: 0.2rem;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #f1efef;
    margin-left: 1rem;
    height: calc(100vh - 21rem);
    max-width: 100%;
  }
  .dashboard-card {
    background: white;
    border-radius: 10px;
    text-align: center;
    border: 2px solid #f1efef;
    width: 9rem;
    height: 9rem;
    margin: 0.3rem;
  }

  .dashboard-title {
    font-size: 0.7rem;
    font-weight: bold; 
    margin-bottom: 15px;
  }
  
  .status-container {
    display: flex;
    justify-content: center;
    gap: 0.2rem;
    margin-bottom: 1rem;
  }
  
  .status-btn {
    padding: 0.1rem 0.2rem;
    border-radius: 6px;
    font-size: 10px;
    color: white;
    display: flex;
    align-items: center;
    gap: 0.3rem;
  }
  
  .status-btn i {
    font-size: 16px;
  }
  
  .active { background-color: #007bff; }
  .present { background-color: #28a745; }
  .absent { background-color: #dc3545; }
  .planned { background-color: #e91e63; }
  .checkin { background-color: #007bff; }
  
  .charts-wrapper {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    flex-wrap: wrap;
    padding: 0.1rem;
    width: 22rem;
    max-height: 2rem;
  }
  .pie-chart-box{
    width: 18%;
    margin-left: -10.5em;
    margin-top: -7rem;
  }
  .pie{
    height: 1rem;
    width: 1rem;
  }
  .chart-box {
    width: 25%;
    margin-top: -1rem;
    overflow-y: hidden;
    max-height: 9rem;
  }


@media (min-width: 769px) and (max-width: 1024px) {
    .dashboard-card {
        width: 12rem;
        height: 10rem;
        // padding: 0.8rem;
        margin: 0.5rem 0.6rem ;
    }
    .pie-chart-box{
        width: 20%;
    }
    .chart-box{
        width: 30%;
    }
}

/* ✅ Extra Small Screens (Phones < 480px) */
@media (min-width: 1025px) and (max-width: 1400px) {
    .dashboard-card {
        width: 15rem;
        height: 10rem;
    }
    .pie-chart-box{
        width: 23%;
        margin-left: -8.5rem;
    }
    .chart-box{
        width: 32%;
    }
}
@media (min-width: 1401px) and (max-width: 1500px)  {
    .dashboard-card {
        width: 18rem;
        height: 12rem;
    }
    .pie-chart-box{
        width: 25%;
        margin-left: -6.5rem;
    }
    .chart-box{
        width: 35%;
    }
    .dashboard-title {
        font-size: 1.2rem;
    }
}
@media (min-width: 1501px)   {
    .dashboard-card {
        width: 22rem;
        height: 16rem;
    }
    .pie-chart-box{
        width: 30%;
        margin-left: -2.5rem;
        margin-top: -5rem;
    }
    .chart-box{
        width: 40%;
        margin-top: 1rem;
    }
    .dashboard-title {
        margin-top: 1rem;
        font-size: 1.2rem;
    }
}
  